* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: 20px;
}

.container {
   position: relative;
}

.calculator {
   width: 536px;
   height: 972px;
   margin: 20px auto;
   color: #0AFFEF;
   border-radius: 25px;
   background-color:#243441;
   box-shadow: 0px 3px 12px #00000029;
   text-align:center;
}

.history {
   position: absolute;
   top:-20px;
   right:222px;
   text-align:left;
   font-size:100%;
   display: none;
   overflow-y:scroll;
}

.history-button {
   background-color:inherit;
   font-size: 100%;
   border: none;
   color:#fff;
}

.btn {
   padding: 30px;
   z-index: 999;
   background-color:inherit;
   width:100%;
   position:sticky;
   top:0;
   margin-bottom: 50px;
}

.row, .row2 {
   height: 80px;
   text-align:right;
   padding: 0 30px;
}
.row {
   padding-top:30px;
   font-size:150%;
   overflow-x:scroll;
}
.row2{
   font-size:400%;
   margin-bottom: 70px;
   overflow-x: scroll;
   overflow-y:hidden;
}

.screen_table{
   width: 100%;
   height:250px;
}

tr.screen {
   height: 90%;
   width:80%;
   text-align: right;
   vertical-align:bottom;
}
tr.screen .small,
tr.screen .big {
   padding: 0 20px;
}

tr.screen .small {
   height: 20%;
   font-size: 130%;
}

tr.screen .big {
   height:45%;
   font-size:400%;
   overflow-x:scroll;
}

tr .space {
   height:2%;
   vertical-align: middle;
}

.space {
   text-align: center;
   background-color:#0AFFEF;
   border: 2px solid #0AFFEF;
   height: 5px;
   width: 10%;
}

hr {
   color:inherit;
   border: 2px solid;
}

.numbers {
   width:100%;
   height: 650px;
   padding: 20px 30px 50px 30px;
   margin-bottom: 50px;
}

.numbers tr {
   width : 100%;
   height: 20%;
}

.numbers tr td {
   width:25%;
   padding: 20px;
}

.numbers tr td button {
   width : 100%;
   height: 100%;
   font-size: 150%;
   border: 3px solid #4F5D67;
   border-radius: 50%;
   color: #0AFFEF;
   background-color: inherit;
}
.numbers tr td button.C{
   background-color: #00E8C8;
   color: #fff;
   border-color: #fff;
}

.numbers .equals{
   width:150px;
   height:100%;
   border-radius: 30%;
}
.dot {
   padding-bottom:15px;
}
